{
    PORT = 3000
    DEV_DB = dev_bmart
    PROD_DB = prod_bmart
    DB_USER = db_user
    DB_PW = db_pw
    DB_HOST = 127.0.0.1
    JWT_SECRET = jwt_secret
    GOOGLE_CLIENT_ID = google_client_id
    GOOGLE_CLIENT_SECRET = google_client_secret
    GOOGLE_CALLBACK = /api/auth/google/redirect
    MIGRATE = false
    API_END_POINT = http://localhost:3000/api
}
